.body_perfil{
    display: flex;
    justify-content: center;
    align-items: start;
}

.main_perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    background-color: #FFABDD;
    border-radius: 10px;
    margin: 20px 20px 40px 20px;
    padding: 20px;
}

.main_perfil > h2{
    text-align: center;
    color: rgb(77, 74, 74);
    font-size: 4vw;
}

.section_infos_perfil{
    display: flex;
    justify-content: center;
}

.editar_foto_perfil{
    display: flex;
    justify-content: space-evenly;
}

#nome_editar_foto{
    font-size: 2vw;
}

.foto_perfil{
    width: 25vw;
    height: 25vw;
    min-width: 200px;
    min-height: 200px;

    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/fotoperfil.png");
    background-size: cover;
    background-position: center;
}

.infos_perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    width: 70%;
}

.infos_perfil > form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.infos_perfil > form > .input_editar_perfil > label > h5{
    font-size: 2vw;
}

.input_editar_perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input_editar_perfil > input{
    width: 100%;
    height: 5vw;
    min-height: 40px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(212, 212, 212);
    margin: 5% 0px;
    font-size: 2vw;
}

.salvar_editar_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.salvar_editar_perfil > input{
    width: 20vw;
    min-width: 150px;
    min-height: 50px;
    height: 4vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 102, 224);
    color: white;
    font-size: 1.5vw;
}

.salvar_editar_perfil > input:hover{
    background-color: rgba(1, 89, 253, 0.986);
    box-shadow: 5px 5px 5px rgba(1, 89, 253, 0.986);
}

.btn_deletar_conta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_deletar_conta > form > input{
    width: 20vw;
    min-width: 150px;
    min-height: 50px;
    height: 4vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(199, 53, 53);
    color: white;
    font-size: 1.5vw;
}

.btn_deletar_conta > form > input:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 5px 5px 5px rgb(199, 53, 53);
}

.main_perfil > hr{
    height: 2px;
    background-color: black;
}

/* Responsividade */

@media (width < 635px){
    .editar_foto_perfil{
        flex-direction: column;
    }

    .nome_infos_perfil{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
    .foto_perfil{
        margin: 10px 0px 0px 0px;
    }

    .infos_perfil > form {
        flex-wrap: wrap;
    }

    .salvar_editar_perfil{
        width: 100%;
        margin-top: 20px;
    }

}

@media (width < 1100px){
    .input_editar_perfil > input{
        font-size: 20px;
    }

    #nome_editar_foto{
        font-size: 20px;
    }

    .infos_perfil > form > .input_editar_perfil > label > h5{
        font-size: 20px;
    }

    .main_perfil > h2{
        font-size: 40px;
    }

    .salvar_editar_perfil > input, .btn_deletar_conta > form > input{
        font-size: 20px;
    }

    
}

