.body_perfil{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_perfil{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: aliceblue;
    padding: 20px;
}

.section_infos_perfil{
    display: flex;
    justify-content: center;
}

.foto_perfil{
    border-radius: 50%;
    margin-right: 30px;
    align-self: center;
    
}

.infos_perfil{
    display: flex;
    flex-direction: column;
}

.topo_infos_perfil{
    display: flex;
}

.btn_editar_perfil{

}

.infos_gerais_perfil{

}

.gerais{

}

.bio_perfil{

}

.infos_bio_perfil{

}

.atividades{

}

.atividade_perfil{

}

.posts_perfil{

}

.post{

}