.body_perfil{
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_perfil{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: #FFABDD;
    border-radius: 10px;
    padding: 20px;
}

.section_infos_perfil{
    display: flex;
    justify-content: center;
}

.foto_perfil{
    border-radius: 50%;
    margin-right: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_perfil > img{
    width: 200px;
}

.infos_perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.topo_infos_perfil{
    display: flex;
}

.topo_infos_perfil > h3{
    margin-right: 20px;
}

.btn_editar_perfil{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #918b8b;
    border-radius: 15px;
    padding: 10px 20px;
    margin-right: 20px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }

.btn_editar_perfil:hover{
    background: #ff7675;
}

#icon_config{
    align-self: center;
    cursor: pointer;
}

.infos_gerais_perfil{
    display: flex;
    margin: 20px 0px;
    justify-content: space-between
}

.gerais{
    margin-right: 10px;
}

.bio_perfil{

}

.infos_bio_perfil{

}

.main_perfil > hr{
    height: 2px;
    background-color: black;
}

.atividades{
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.atividade_perfil{
    width: 30%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.atividade_perfil:hover{
    background-color: rgb(56, 51, 51);
    color: white;
}

.posts_perfil{
    width: 80%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow-y: auto;
}

.posts_perfil::-webkit-scrollbar{
    width: 15px;
    border-radius: 20px;
    background-color: #79727296;
}

.posts_perfil::-webkit-scrollbar-thumb {
    background-color: rgb(199, 193, 193);   
  }

.post>img{
    width: 245px;
    height: 245px;
    margin: 10px;
}