#Card{
    background-image: url('../img/edvirgen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.paragrafo{
    font-size: 14px;
}

.caixaComentarios{
    background-color: black;
    width: 20vw;
    height: 40vh;
    
}

@media screen {
    #Card{
        height: 30vh;
        width: 30vw;
    }
}
